<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/d4ae22a5-1746-4000-9880-933a0dab3f98/resourcegroups/poc-container/providers/Microsoft.ContainerRegistry/registries/lyoidcdotnetacr</ContainerResourceId>
    <ContainerResourceName>lyoidcdotnetacr</ContainerResourceName>
    <Subscription>m365-ly</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>lyoidcdotnetacr.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>ly-webapp-openidconnect-dotnet</ContainerName>
    <EnvironmentName>ly-oidc-dotnet-container-env</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://ly-oidc-dotnet-container.delightfulbush-f0091b8a.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d4ae22a5-1746-4000-9880-933a0dab3f98/resourceGroups/poc-container/providers/Microsoft.App/containerApps/ly-oidc-dotnet-container</ResourceId>
    <ResourceGroup>poc-container</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>